
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - DOTNET_CuoiKy</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="~/images/core-img/favicon.ico">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive/responsive.css" />
    <!--Load style like a fucking pro-->
    @RenderSection("StyleLogin", required: false)
    @RenderSection("SanphamDetailStyle", required: false)
    @RenderSection("cartStyle", false);
    <style>
        .checkOutForm {
            background-color: azure;
        }

        .bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
            content: none;
        }

        .bc-icons-2 .breadcrumb-item.active {
            color: #455a64;
        }

        .cartNoti {
            display: none;
        }

        .topheader123123 {
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        ul.dropdown-cart {
            min-width: 300px;
        }

            ul.dropdown-cart li .item {
                display: block;
                padding: 3px 10px;
                margin: 3px 0;
            }

                ul.dropdown-cart li .item:hover {
                    background-color: #f3f3f3;
                }

                ul.dropdown-cart li .item:after {
                    visibility: hidden;
                    display: block;
                    font-size: 0;
                    content: " ";
                    clear: both;
                    height: 0;
                }

            ul.dropdown-cart li .item-left {
                float: left;
            }

                ul.dropdown-cart li .item-left img,
                ul.dropdown-cart li .item-left span.item-info {
                    float: left;
                }

                ul.dropdown-cart li .item-left span.item-info {
                    margin-left: 10px;
                }

                    ul.dropdown-cart li .item-left span.item-info span {
                        display: block;
                    }

            ul.dropdown-cart li .item-right {
                float: right;
            }

                ul.dropdown-cart li .item-right button {
                    margin-top: 14px;
                }

        .hm-gradient {
            background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
        }
        #yummy-nav {
            padding-right: 10px;
        }
        .example-open .modal-backdrop {
            background-color: red;
        }
    </style>
</head>
<body class="hm-gradient">

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div id="modal-contets" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button id="delConfirm" type="button" class="btn btn-danger">Xóa</button>
                    <button type="button" class=" closeBNT btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("addConfirmModal", required: false)

    <div class="container-fluid">

        <div id="pattern-switcher">
            Bấm vào đi
        </div>

        <div id="patter-close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <div class="top_header_area">
            <div class="">
                <div class="topheader123123">
                    <div class="col-5 col-sm-6">
                        <!--  Top Social bar start -->
                        <div class="top_social_bar">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!--  Login Register Area -->
                    <div class="col-7 col-sm-6">
                        <div class="signup-search-area d-flex align-items-center justify-content-end">
                            <div class="login_register_area d-flex">
                                @{
                                    // Pecific which user is login
                                    if (UserStatus.getRazorPageUserStatus(this,"Client"))
                                    {
                                        <div class="login">

                                            <a>@User.Claims.FirstOrDefault(n => n.Type.Equals("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")).Value</a>
                                        </div>
                                        <div class="register">
                                            <a asp-action="Logout" asp-controller="Login"> Logout </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="login">
                                            <a asp-action="login" asp-controller="Login"> Login</a>
                                        </div>
                                        <div class="register">
                                            <a asp-action="register" asp-controller="Login"> Register </a>
                                        </div>
                                    }
                                }
                            </div>
                            <!-- Search Button Area -->
                            <div class="search_button">
                                <a class="searchBtn" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <!-- Search Form -->
                            <div class="search-hidden-form">
                                <form action="#" method="get">
                                    <input type="search" name="search" id="search-anything" placeholder="Search Anything...">
                                    <input type="submit" value="" class="d-none">
                                    <span class="searchBtn"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header class="header_area">
            <div class="container-fluid">
                <div class="row">
                    <!-- Logo Area Start -->
                    <div class="col-12">
                        <div class="logo_area text-center">
                            <a asp-action="Index" asp-controller="home" class="yummy-logo">Thức Ăn Văn Phòng</a>
                        </div>
                    </div>
                </div>

                <div class="row cyan lighten-4">
                    <div class="col-12">
                        <nav style="box-shadow:none !important;" class="navbar navbar-expand-lg">
                            <button id="navbarToggleBnt" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yummyfood-nav" aria-controls="yummyfood-nav" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
                            <!-- Menu Area Start -->
                            <div class="collapse navbar-collapse justify-content-center" id="yummyfood-nav">
                                <breadcrumb id="yummy-nav"></breadcrumb>

                                <ul class="navbar-nav" id="yummy-nav">

                                    @{ if (Context.Request.Path.Value != "/Cart")
                                        {
                                            <li class="nav-item dropdown">
                                                @await Component.InvokeAsync(nameof(CartLoader).Replace("ViewComponent", ""))
                                            </li>
                                        }
                                        else
                                        {

                                        }
                                    }
                                    <li class="nav-item">
                                        <audio controls="controls" src="~/js/Chiec-Bung-Doi-Be-Thanh-Ngan.mp3" loop="loop"></audio>

                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()
    </div>
    @RenderSection("cartBootstrap", false)

    @RenderSection("sanphamloader", required: false)

    @RenderSection("addToCartScripts", required: false)

    <script defer="defer" type="text/javascript">
        $("#pattern-switcher").on('click', function () {
            $("body").toggleClass("bg-pattern");
        });
        $("#patter-close").on('click', function () {
            $(this).hide("slow");
            $("#pattern-switcher").addClass("pattern-remove");
        });
        $(function () {
            var deleteSuccess = false;
            $('#deleteModal').on('show.bs.modal', function (e) {
                $('body').addClass("example-open");
            }).on('hidden.bs.modal', function (e) {
                if (deleteSuccess) {
                    window.location.reload();
                } else {
                    console.log("Hidden")
                    //Clean old id to make sure shit wont break  !!!!!
                    $('#modal-contets').text(null);
                    $('#delConfirm').prop('data-id', "");
                }
            })

            $('.deleteThingS').on('click', function () {
                $('#delConfirm').attr("data-id", $(this).attr("id"));
                $('#myModalLabel').text("Cảnh báo");
                //$('.modal').attr('style', 'background-color:red');
                $('#modal-contets').text('Bạn có chắc muốn xóa ' + $(this).attr("data-id").toLocaleUpperCase());
                $('#deleteModal').modal('show');
            });

            $('#delConfirm').on('click', function () {
                $('#modal-contets').text("Đang gửi dữ liệu để xóa xin chờ....");
                $(this).html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...`);
                var data = $(this).attr("data-id");
                $(this).prop('disabled', true);
                $('.closeBNT').prop('disabled', true);
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                console.log('lala', data)

                $.post("/Cart/Delete", { __RequestVerificationToken: token, "itemId": data },
                    function (data) {
                        $('#delConfirm').html(`<i class="fa fa-check" aria-hidden="true"></i>`);
                        $('#modal-contets').text(data);
                        $('.closeBNT').prop('disabled', false);
                        deleteSuccess = true;
                    }).fail(function (data) {
                        //console.log('server response', JSON.stringify(data.responseText))
                        $('#update-message').text(data);
                    })
            });
        })
    </script>
</body>

</html>
