@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DOTNET_CuoiKy.Models.DB.Sanpham


@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}

@section SanphamDetailStyle{
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: 'open sans';
            overflow-x: hidden;
        }

        img {
            max-width: 100%;
        }

        .preview {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .media screen and (max-width: 996px) {
            .preview

        {
            margin-bottom: 20px;
        }

        }

        .preview-pic {
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }

        .preview-thumbnail.nav-tabs {
            border: none;
            margin-top: 15px;
        }

            .preview-thumbnail.nav-tabs li {
                width: 18%;
                margin-right: 2.5%;
            }

                .preview-thumbnail.nav-tabs li img {
                    max-width: 100%;
                    display: block;
                }

                .preview-thumbnail.nav-tabs li a {
                    padding: 0;
                    margin: 0;
                }

                .preview-thumbnail.nav-tabs li:last-of-type {
                    margin-right: 0;
                }

        .tab-content {
            overflow: hidden;
        }

            .tab-content img {
                width: 100%;
                -webkit-animation-name: opacity;
                animation-name: opacity;
                -webkit-animation-duration: .3s;
                animation-duration: .3s;
            }

        .card {
            margin-top: 50px;
            background: #eee;
            padding: 3em;
            line-height: 1.5em;
        }

        .media screen and (min-width: 997px) {
            .wrapper

        {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        }

        .details {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .colors {
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }

        .product-title, .price, .sizes, .colors {
            text-transform: UPPERCASE;
            font-weight: bold;
        }

            .checked, .price span {
                color: #ff9f1a;
            }

        .product-title, .rating, .product-description, .price, .vote, .sizes {
            margin-bottom: 15px;
        }

        .product-title {
            margin-top: 0;
        }

        .size {
            margin-right: 10px;
        }

            .size:first-of-type {
                margin-left: 40px;
            }

        .color {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            height: 2em;
            width: 2em;
            border-radius: 2px;
        }

            .color:first-of-type {
                margin-left: 20px;
            }

        .add-to-cart, .like {
            background: #ff9f1a;
            padding: 1.2em 1.5em;
            border: none;
            text-transform: UPPERCASE;
            font-weight: bold;
            color: #fff;
            -webkit-transition: background .3s ease;
            transition: background .3s ease;
        }

            .add-to-cart:hover, .like:hover {
                background: #b36800;
                color: #fff;
            }

        .not-available {
            text-align: center;
            line-height: 2em;
        }

            .not-available:before {
                font-family: fontawesome;
                content: "\f00d";
                color: #fff;
            }

        .orange {
            background: #ff9f1a;
        }

        .green {
            background: #85ad00;
        }

        .blue {
            background: #0076ad;
        }

        .tooltip-inner {
            padding: 1.3em;
        }

        .-webkit-keyframes opacity {
            0%

        {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
        }

        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        }

        .keyframes opacity {
            0%

        {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
        }

        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        }

        /*# sourceMappingURL=style.css.map */
    </style>
}

@section addConfirmModal{
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }
    <div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalLabel">Thông báo</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="update-message">
                    <div id="Mbd">
                        Nhập số lượng cho <span id="SanphamtoAdd"></span> : <br />
                        <input id="spQuantity" type="number" name="quantity" value="1" min="1" style="width: 50px;"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info addConfirm">
                        Thêm vào giỏ
                    </button>
                    <button type="button" class="closeBNT btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

   
}

@section addToCartScripts {
    
    <script type="text/javascript">
        $(function () {
            var addspSuccess = false;
            $('#flipFlop').on('hidden.bs.modal', function (e) {
                if (addspSuccess) {
                    window.location.href ="/danhmucs/@Model.DanhMuc.Value";
                } else {
                    console.log("Hidden")
                    //Clean old id to make sure shit wont break  !!!!!
                    $('#Mbd').show();
                    $('#SanphamtoAdd').text(null);
                    $('#spQuantity').val(1);
                    var confirmBnt = document.getElementsByClassName("addConfirm")[0];
                    confirmBnt.id = "";
                    confirmBnt.style = "";
                }
            })


            $('.add-to-cart').click(function () {
                var addBnt = document.getElementsByClassName("addConfirm")[0];
                var itemName = $(this).attr("data-id").toLocaleUpperCase();
                addBnt.id = $(this).attr("id");
                $('#SanphamtoAdd').text(itemName);
                $('#flipFlop').modal('show');
            })
            $('.addConfirm').click(function () {
                //var $this = ;
                $(this).prop('disabled', true);
                $(".closeBNT").prop('disabled', true);
                $(this).html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...`);
                var itemID = $(this).attr("id");
                var itemQuantity = $('#spQuantity').val();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                if (itemID != '') {
                    var model = JSON.stringify({ id: itemID, quantity: itemQuantity });
                    $.ajax("/Cart/AddtoCart", {
                        type: "post",
                        data: model,
                        contentType: "application/json",
                        headers: {
                            'RequestVerificationToken': token
                        }
                    }).done(function (data) {
                        $('#Mbd').hide();
                        $('.addConfirm').html(`<i class="fa fa-check" aria-hidden="true"></i>`);
                        $('#update-message').text(data)
                        $(".closeBNT").prop('disabled', false);

                        addspSuccess = true;
                        console.log(data);
                    }).fail(function (data) {
                        console.log(data);
                    })
                }

                //$(this).hide();
                console.log('id to add ' + itemID + ' quantity ', itemQuantity);
            })
        });
    </script>
}
<h1>Chi tiết về thức ăn, nước uống </h1>
<section class="blog_area section_padding_0_80">
    <div class="container-fluid">
        <div class="row justify-content-center">
            @** <div class="col-12 col-lg-8">
                <div class="row">
            *@

            <div class="col-lg-12">

                <div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".2s">

                        <div class="preview col-md-4">
                            <div class="preview-pic tab-content">
                                <div class="tab-pane active" id="pic-1"><img src="~/@Model.Hinh1" /></div>
                                <div class="tab-pane" id="pic-2"><img src="~/@Model.Hinh2" /></div>
                                <div class="tab-pane" id="pic-3"><img src="~/@Model.Hinh3" /></div>
                                <div class="tab-pane" id="pic-4"><img src="~/@Model.Hinh4" /></div>
                            </div>

                            <ul class="preview-thumbnail nav nav-tabs">
                                <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="~/@Model.Hinh1" /></a></li>
                                <li><a data-target="#pic-2" data-toggle="tab"><img src="~/@Model.Hinh2" /></a></li>
                                <li><a data-target="#pic-3" data-toggle="tab"><img src="~/@Model.Hinh3" /></a></li>
                                <li><a data-target="#pic-4" data-toggle="tab"><img src="~/@Model.Hinh4" /></a></li>
                            </ul>
                        </div>
                        <div class="details col-md-8">
                            <h3 class="product-title">@Model.TenSp</h3>
                            <div class="rating">
                                <div class="stars">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <span class="review-no">41 reviews</span>
                            </div>
                            <p>@Model.MoTa</p>
                            <h4 style="text-align:unset !important" class="price">Giá: <span>@string.Format("{0,0:C0}",Model.GiaSp)</span></h4>


                            <div class="action">
                                <a data-id="@Model.TenSp" id="@Model.IdsanPham" class="add-to-cart btn btn-default">Đặt hàng</a>
                                <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

