@model DOTNET_CuoiKy.Models.DB.Sanpham

@{
    ViewData["Title"] = "Delete";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h1>Xóa Thức </h1>

<h3>Bạn muốn xóa thức ăn này chứ</h3>
<div>
    <h4>thức ăn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenSp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenSp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GiaSp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GiaSp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hinh1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hinh2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hinh3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hinh4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DanhMucNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DanhMucNavigation.IddanhMuc)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdsanPham" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
