@model IEnumerable<DOTNET_CuoiKy.Models.DB.Carts>

@{
    ViewData["Title"] = "Giỏ hàng của bẹn";
    float total = 0;
}
@section cartBootstrap{
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }
    <div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalLabel">Thông báo</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="update-message">
                    Bạn có chắc muốn xóa <span id="Sanphamtodel"></span> <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger delConfirm">
                        XÓA SẢN PHẨM NÀY
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/popper.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function showcheckOut() {
            console.log('clicked');
            var display = document.getElementsByClassName('checkOutForm')[0];
            display.style.display = display.style.display === "none" ? "block" : "none";
        }
        $(function () {
            var deleteConfirm = false;
            $('#flipFlop').on('hidden.bs.modal', function (e) {
                if (deleteConfirm) {
                    window.location.reload(true);
                } else {
                    console.log("Hidden")
                    //Clean old id to make sure shit wont break  !!!!!
                    $('#Sanphamtodel').text(null);
                    var confirmBnt = document.getElementsByClassName("delConfirm")[0];
                    confirmBnt.id = "";
                    confirmBnt.style = "";
                }
            })

            $('.updateBNT').on('click', function () {
                var itemID = $(this).attr("id");
                var spQuantity = $("input[name=" + itemID + "]").val();
                console.log('quantity', spQuantity)
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                if (itemID != '') {
                    var model = JSON.stringify({ id: itemID, quantity: spQuantity });
                    $.ajax("/Cart/Update", {
                        type: "post",
                        data: model,
                        contentType: "application/json",
                        headers: {
                            'RequestVerificationToken': token
                        }
                    }).done(function (data) {
                        console.log(data)
                        window.location.reload(true);
                    }).fail(function (data) {
                        console.log(data);
                    })
                }
            })
            $('.deleteBNT').on('click', function () {
                var delBnt = document.getElementsByClassName("delConfirm")[0];
                delBnt.id = $(this).attr("id");
                $('#Sanphamtodel').text($(this).attr("data-id"));
                $('#flipFlop').modal('show');
            })

            $('.delConfirm').on('click', function () {
                var itemID = $(this).attr("id");
                $(this).html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...`);
                $(this).prop('disabled', true);
                console.log('id', itemID);
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                if (itemID != '') {
                    $.post("/Cart/Delete", { __RequestVerificationToken: token, "itemId": itemID },
                        function (data) {
                            deleteConfirm = true;
                            $('.delConfirm').html(`<i class="fa fa-check" aria-hidden="true"></i>`);
                            $('#update-message').text(data);
                        }).fail(function (data) {
                            //console.log('server response', JSON.stringify(data.responseText))
                            $('#update-message').text(data);
                        })
                }
            });


        });

        $(".checkouBnt").click(function() {
           $('html,body').animate({scrollTop: $(".checkOutForm").offset().top},'slow');
        });
    </script>
}
<div class="container-fluid">
    <h2>Giỏ hàng của bạn</h2>
    <h4 class="cartNoti">kéo quan bên trái để xem thông tin</h4>

    @{ if (Model == null || Model.Count() <= 0)
        {
            <div class="text-lg-center">
                <h1>Giỏ hàng của bạn đang trống, mua gì đi chứ bồ</h1>
                <a asp-action="Index" asp-controller="home" class="btn btn-warning">Bấm vào đây để mua đồ nè</a>
            </div>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr></tr>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th class="text-center">Tổng tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        float? subtotal = item.Sp.GiaSp.Value * item.Quantity;
                        total = total + subtotal.Value;

                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-2 d-none d-sm-block"><img src="~/@item.Sp.Hinh1" alt="..." class="img-responsive" /></div>
                                    <div class="col-sm-10">
                                        <a asp-action="Chitiets" asp-controller="home" asp-route-idsp="@item.Sp.IdsanPham">
                                            <h4 class="nomargin">@item.Sp.TenSp</h4>
                                        </a>
                                        <p>@item.Sp.MoTa</p>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price">@string.Format("{0:C}", item.Sp.GiaSp)</td>
                            <td data-th="Quantity">
                                <input name="@item.AutoId" type="number" class="form-control text-center" min="1" value="@item.Quantity" style="color:black !important;width: 50%;">
                            </td>
                            <td data-th="Subtotal" class="text-center">@string.Format("{0:C}", subtotal)</td>
                            <td class="actions" data-th="">
                                <a id="@item.AutoId" class="updateBNT btn btn-info btn-sm"><i class="fa fa-refresh"></i></a>
                                <a data-id="@item.Sp.TenSp" id="@item.AutoId" class="deleteBNT btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>

                    <tr>
                        <td><a asp-action="Index" asp-controller="home" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua đồ chứ nhỉ</a></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td class="hidden-xs text-center"><strong>Tổng cộng @string.Format("{0:C}", total)</strong></td>
                        <td><button type="button" class="checkouBnt btn btn-success btn-block" onclick="showcheckOut()">Thanh toán <i class="fa fa-angle-right"></i></button></td>
                    </tr>
                </tfoot>
            </table>
            if (User.Identity.IsAuthenticated)
            {
                <div style="display:none" class="checkOutForm container ">
                    <h2 class="text-center">Thông tin giao hàng</h2>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6 pb-5">

                            <!--Form with header-->

                            <form  method="post">
                                <div class="card border-primary rounded-0">
                                    <div class="card-header p-0">
                                        <div class="bg-info text-white text-center py-2">
                                            <h3><i class="fa fa-envelope"></i> Điền thông tin Giao hàng vào đây</h3>
                                            <p class="m-0"></p>
                                        </div>
                                    </div>
                                    <div class="card-body p-3">

                                        <!--Body-->
                                        <div class="form-group">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        Tên của bạn <i class="fa fa-user text-info"></i>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre y Apellido" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Email <i class="fa fa-envelope text-info"></i></div>
                                                </div>
                                                <input type="email" class="form-control" id="nombre" name="email" placeholder="ejemplo@gmail.com" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Số điện thoại <i class="fa fa-phone text-info"></i></div>
                                                </div>
                                                <input type="number" class="form-control" id="nombre" name="email" placeholder="ejemplo@gmail.com" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Địa chỉ  <i class="fa fa-address-book text-info"></i></div>
                                                </div>
                                                <input type="text" class="form-control" id="nombre" name="email" placeholder="ejemplo@gmail.com" required>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <input type="submit" value="Lưu thông tin" class="btn btn-info btn-block rounded-0 py-2">
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            }
            else
            {
                <div style="display:none" class="checkOutForm fade-in float-right">
                    <h3>Bạn chưa đăng nhập!!</h3>
                    <a class="btn btn-warning" asp-action="Login" asp-controller="Login">Bấm vào đây để đăng nhập</a>
                    <br />
                    <h3>Chưa có tài khỏa ?</h3>
                    <a class="btn btn-warning" asp-action="Register" asp-controller="Login">Bấm vào đây để đăng ký</a>

                </div>
            }
        }
    }
</div>
